tavily-python
wikipedia
trustcall
chromadb
requests
beautifulsoup4
pypdf
python-magic
unstructured
langchain
langchain-core
langchain-community
langchain-openai
langchain-deepseek
langchain-text-splitters 
langchain-chroma
langchain-huggingface
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langgraph-cli
langsmith